@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace');

.container-board{
  height: 100vh;
  width: fit-content;
  padding: 30px;
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: solid #9a55da 0.5px;
}

.container-board h1{
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 40px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  animation: alteraCorTituloLO 6s alternate infinite;
  border-radius: 10px;
}

@keyframes alteraCorTituloLO {
  from{color: gray;}
  to{color: white;  box-shadow: 0px 0px 60px 0px #9a55da; background-color: #9a55da;}
}

.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.row-lo {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-around;
  align-items: center;
}

.modal-lo{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.288);
}

.modal-lo-content{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-lo-content h1{
  margin-bottom: 20px;
}

.modal-lo-content button{
  margin-top: 20px;
  color: black;
  font-weight: light;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  transition: .4s;
}

.modal-lo-content button:hover{
  color: #ffffff;
  background-color: #000000;
}